.navbar {
  background-color: #23252b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  position: relative; /* importante */
  z-index: 9999;      /* lo pone siempre encima */
}

/* Logo */
.navbar h1 {
  cursor: pointer;
}

.navbar h1:hover {
  color: #ff640a;
}

/* Menú general */
.menu {
  display: flex;
  gap: 1rem;
}

.menu li {
  list-style: none;
  font-size: large;
}

.menu li:hover {
  color: #ff640a;
}

.navigation {
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: block;
  color: white;
}

/* Botón hamburguesa */
.hamburger {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* Estilos para móviles */
@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    background: rgba(35, 37, 43, 0.95);
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh; /* toda la pantalla */
    width: 70%; /* ajusta según prefieras */
    padding: 2rem;
    backdrop-filter: blur(8px); /* efecto blur */
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%); /* oculto */
  }

  .menu.open {
  display: flex;
  transform: translateX(0); /* aparece */
}

  .hamburger {
    display: block;
  }
}
